# Core Django + ASGI
Django>=5.1
asgiref==3.8.1
sqlparse==0.5.1
tzdata==2024.1
pytz==2024.1

# Django utilities
django-cors-headers==4.3.1
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
Pillow==10.4.0
PyJWT==2.9.0

# Data science / ML dependencies
numpy>=2.1
pandas>=2.2.3
scikit-learn==1.5.1
joblib==1.4.2

# Deployment
gunicorn
uvicorn
whitenoise[brotli]
dj-database-url
psycopg2-binary
